<div id="sect" class="">
  <div class="container d-flex flex-column">
    <div class="white-background">
      <div class="py-5">
        <div class="form-outline d-flex justify-content-center">
          <input
            [(ngModel)]="searchTerm"
            type="search"
            class="form-control w-75 ms-5 rounded-5"
            placeholder="Search By firstname"
            aria-label="Search"
          />
        </div>

        <div class="d-flex justify-content-end mt-3 ms-5">
          <button
            type="button"
            class="btn btn-add rounded-5 me-5 m-2 rounded-5 float-end"
            [routerLink]="['/user']"
            id="btn-add"
          >
            <i class="fa-solid fa-lg fa-plus m-3"></i> Add Contact
          </button>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table border-mid">
          <thead></thead>
          <tbody class="w-100 justify-content-center">
            <tr
              *ngFor="
                let user of Users
                  | search : searchTerm
                  | slice
                    : (currentPage - 1) * itemsPerPage
                    : (currentPage - 1) * itemsPerPage + itemsPerPage
              "
            >
              <td
                class="table-color px-5 py-5 col-12 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
              >
                <!-- Image column -->
                <img
                  [src]="user.picture"
                  alt=""
                  srcset=""
                  width="100"
                  class="shadow-4 ms-5 rounded-circle"
                />
              </td>
              <div
                class="table-color text-light py-5 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
              >
                <h2>{{ user.lastName }}</h2>
                <h3>{{ user.firstName }}</h3>
              </div>

              <td
                class="table-color col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
              >
                <!-- Action buttons column -->
                <div class="d-flex py-4 justify-content-end me-5">
                  <button
                    type="button"
                    class="btn bg-light m-4 p-2 rounded-2"
                    (click)="updateUser(user.id)"
                  >
                    <i
                      class="fa-solid fa-pen-to-square"
                      style="color: #1bb0f0"
                    ></i>
                  </button>
                  <p-toast [life]="300000"> </p-toast>
                  <button
                    type="button"
                    class="btn bg-light m-4 p-2 rounded-2"
                    (click)="deleteUser(user.id)"
                  >
                    <i class="fa-solid fa-trash-can" style="color: #ec1b1b"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <ul class="pagination justify-content-end">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a
            class="page-link"
            (click)="setPage(currentPage - 1)"
            aria-label="Previous"
          >
            <span aria-hidden="true" class="fa-solid fa-chevron-left"></span>
          </a>
        </li>
        <li class="page-item">
          <span class="page-link">
            {{ currentPage }} / {{ getPages().length }}
            <!-- push -->
          </span>
        </li>
        <li
          class="page-item"
          [class.disabled]="currentPage === getPages().length"
        >
          <a
            class="page-link"
            (click)="setPage(currentPage + 1)"
            aria-label="Next"
          >
            <span aria-hidden="true" class="fa-solid fa-chevron-right"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<p-confirmDialog
  [style]="{ width: '25vw', 'border-radius': '200px', height: '50%' }"
></p-confirmDialog>
